html {
  min-height: 100%;
}

body {
  background-image: url("../images/sunny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

iframe {
  width: 100%;
  height: 600px;
  border: 0;
  margin: 0;
  padding: 0;
}

#petControls {
  background-color:rgba(230, 229, 227,0.3);
}

.navbar {
  background-color:rgba(230, 229, 227,0.3);
}

.logo {
  font-size: 70px;
  color: #ffc107;
  text-shadow: -1px -1px 0 #545454, 1px -1px 0 #545454, -1px 1px 0 #545454, 1px 1px 0 #545454;
}

.nav-link {
  font-size: 20px;
}

h2,
h4,
a,
.tableHeader,
.row-type,
button {
  font-family: 'Chewy', cursive;
}

h2, 
.tableHeader {
  font-size: 50px;
  color: #ffc107;
  text-shadow: -1px -1px 0 #545454, 1px -1px 0 #545454, -1px 1px 0 #545454, 1px 1px 0 #545454;
}

h4 {
  color: #ffc107;
  text-shadow: -1px -1px 0 #545454, 1px -1px 0 #545454, -1px 1px 0 #545454, 1px 1px 0 #545454;
}

.row-type {
  font-size: 20px;
  color: #ffc107;
  text-shadow: -1px -1px 0 #545454, 1px -1px 0 #545454, -1px 1px 0 #545454, 1px 1px 0 #545454;
}

.badge {
  position: absolute;
  top: -10px;
  right: -3px;
  padding: 5px 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
}