body {
  position: relative;
  height: 100%;
}

#petControls {
  background-color: green;
}

.navbar {
  background-color:rgba(230, 229, 227,0.3);
}

.logo {
  font-size: 70px;
  color: #ffc107;
}

.nav-link {
  font-size: 20px;
}

h2,
a,
button {
  font-family: 'Chewy', cursive;
}

h2 {
  font-size: 50px;
  color: #ffc107;
}