body {
  /* position: relative; */
  /* min-height: 100%; */
  background-image: url("../images/riley-pope-_52HIBqdGYc-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#petControls {
  background-color:rgba(230, 229, 227,0.3);
}

.navbar {
  background-color:rgba(230, 229, 227,0.3);
}

.logo {
  font-size: 70px;
  color: #ffc107;
  text-shadow: -1px -1px 0 #545454, 1px -1px 0 #545454, -1px 1px 0 #545454, 1px 1px 0 #545454;
}

.nav-link {
  font-size: 20px;
}

h2,
h4,
a,
th,
td,
button {
  font-family: 'Chewy', cursive;
}

h2, 
.tableHeader {
  font-size: 50px;
  color: #ffc107;
  text-shadow: -1px -1px 0 #545454, 1px -1px 0 #545454, -1px 1px 0 #545454, 1px 1px 0 #545454;
}

h4 {
  color: #ffc107;
  text-shadow: -1px -1px 0 #545454, 1px -1px 0 #545454, -1px 1px 0 #545454, 1px 1px 0 #545454;
}

.tableContent {
  font-size: 20px;
  color: #ffc107;
  text-shadow: -1px -1px 0 #545454, 1px -1px 0 #545454, -1px 1px 0 #545454, 1px 1px 0 #545454;
}